<%- include("./partials/header") %>
      <div class="text-center top ">
        <h1 class="display-3 font-weight-bold wishlist"><strong>Cart</strong></h1>
     </div>
     <div class="container ">
       <%products.forEach((product)=>{%>
        <div class="row justify-content-center my-3">
            <div class="col-lg-1 d-flex justify-content-end p-0 col_1">
             <button type="button" class="close" aria-label="Close">
                 <span aria-hidden="true" class="" >&times;</span>
               </button>
            </div>
            <div class="col-lg-2 d-flex align-items-center">
              <a href="<%= product.productImage %>" class="image-popup-no-margins mx-auto">
                <img src="<%= product.productImage %>" alt="" width="100" height="100" class="mx-auto img">

              </a>
            </div>
            <div class="col-lg-2 d-flex align-items-center p-2 justify-content-center">
             <!-- <div class="text-center p-1"> -->
                  <a href="" style="text-decoration: none;color:black;"><strong><%= product.productName %></strong></a>
             <!-- </div> -->
            </div>
            <div class="col-lg-2 d-flex align-items-center p-2 justify-content-center" style="color:grey">
             <!-- <div class="text-center p-1 "> -->
                <span>$</span><strong>100.00</strong>
             <!-- </div> -->
            </div>
            <div class="col-lg-1 d-flex align-items-center p-2 justify-content-center">
             <!-- <button type="button" class="btn checkout">Checkout</button> -->
             <select class="form-control form-control-sm quantity">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
            </div>
           
        </div>
     <% }) %>

        

      <!-- <div class=" d-flex justify-content-end   checkout_div"> -->
        <div class="row justify-content-center my-3">
        <div class="col-lg-1 d-flex justify-content-end p-0 col_1">
          
         </div>
         <div class="col-lg-2 d-flex align-items-center">
          
        </div>
        <div class="col-lg-2 d-flex align-items-center p-2 justify-content-center">
          
         </div>
        <div class="col-lg-2 d-flex align-items-center justify-content-center tprice" style="color:rgb(19, 17, 17)">
          
              <span>$</span><strong>1000.00</strong>
  
         </div>
        <a href="/billing" style="text-decoration: none;"><button class="btn  checkout"><span>Checkout</span></button></a>
      </div>
      
     

     
      
     </div>
   



     <%- include("./partials/pageFooter") %>

    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js" integrity="sha512-C1zvdb9R55RAkl6xCLTPt+Wmcz6s+ccOvcr6G57lbm8M2fbgn2SUjUJbQ13fEyjuLViwe97uJvwa1EUf4F1Akw==" crossorigin="anonymous"></script>    <script>
      $('.image-popup-no-margins').magnificPopup({
		type: 'image',
		closeOnContentClick: true,
		closeBtnInside: false,
		fixedContentPos: true,
		mainClass: 'mfp-no-margins mfp-with-zoom', // class to remove default margin from left and right side
		image: {
			verticalFit: true
		},
		zoom: {
			enabled: true,
			duration: 300 // don't foget to change the duration also in CSS
		}
  });
  
  $("#navbarDropdown").on("click", function(){
    $(".dm_2").slideToggle(300);
   
      });

    $("#navbarDropdown_1").on("click", function(){
      $(".dm_1").slideToggle(300);
      
      });

     
    </script>
<%- include("./partials/footer") %>