<%- include("./partials/header") %>


  <section id="home">
    <div class="masthead">
      <div class="container h-100">
        <div class="row hidden h-100 align-items-center justify-content-center text-center cover-container">
          <div class="col-lg-10 align-self-end">
            <h1 class="text-uppercase text-white font-weight-bold animate__animated animate__fadeInDown">Welcome to ...Company Name</h1>
            <hr class="divider my-4" />
          </div>
          <div class="col-lg-8 align-self-baseline">
            <p class="text-white-75 color-light font-weight-light mb-5 animate__animated animate__fadeInDown">This is where our Tagline goes!</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="arrow bounce">
    <a class="fa fa-arrow-down fa-2x" href="#home" style="transform: rotate(180deg);"></a>
  </div>

  <div class="container-fluid" id="product">    
    <section class="explore-products">
      <h1 class="text-center pt-5">Explore Company name Products</h1>
      <p class="text-center pt-3 text-secondary">Explore the collection of our Products.More to come soon!</p>
      <hr>
      <div class="row hidden my-5 ">
        <% products.forEach((product) => { %>
          <div class="col-lg-3 col-sm-6">
            <div class="d-flex justify-content-center">
            <div class="card card_2 my-4">
              <span class="actions pt-2 px-2 d-flex justify-content-between">
                <button data-toggle="tooltip" data-placement="bottom" title="Add to Wishlist" class="rounded-circle px-1 d-flex justify-content-center align-items-center">
                  <i class="far fa-heart"></i>
                </button>
              </span>
              <a href="#">
                  <img src="<%= product.productImage%>" class="card-img-top" alt="...">
              </a>
              <div class="card-body">
                <h5 class="card-title m-0"><%=product.productCategory %></h5>
                <a href="#" class="product-link">
                <p class="card-text"><%= product.productName%></p>
                </a>
                <div class="price-rating d-flex justify-content-between">
                  <p class="dollar">$100.<span class="cent">00</span></p>
                  <p class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </p>
                </div>
              </div>
              <div class="hidden-tab d-none d-lg-block pb-2 container-fluid col-12 d-flex flex-column align-items-center">
                <div class="hidden-content d-flex justify-content-center">
                  <a href="/login" data-toggle="tooltip" data-placement="bottom" title="Add to Cart" class="btn btn_1 btn-primary  hidden-button p-1 d-flex justify-content-center align-items-center rounded-circle mx-3 cart"><i class="fas fa-shopping-cart "></i></a>
                  <a href="<%= product.productImage%>" data-toggle="tooltip" data-placement="bottom" title="View Product" class="btn btn_2 btn-primary  hidden-button p-1 d-flex justify-content-center align-items-center rounded-circle mx-3 eye pop-up"><i class="fas fa-eye "></i></a>
                </div>
              </div>
            </div>
          </div>
          </div>
        <% }) %>    
      </div>
    </section>
  </div>

  <%- include("./partials/pageFooter") %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
  <script src="js/scripts.js"></script>

<%- include("./partials/footer") %>
