<%- include("./partials/header") %>

  <form action="/product-page" method="POST">
    <div class="search_1">
      <div class="input-group-prepend search_div">
        <span><button class="btn btn-outline-secondary srch" type="button"><i class="fa fa-search"></i></button></span>
        <input type="search" class="form-control fc" placeholder="" aria-label="" aria-describedby="basic-addon1">
      </div>
    </div>
  </form>

  <div class="product_page">
    <div class="row px-4">
      <% products.forEach((product) => { %>
        <div class="col-lg-3  col-md-6 col-sm-6 col-xs-12 py-3 fade-in">
          <div class="d-flex justify-content-center">
            <div class="card card_2">
              <span class="actions pt-2 px-2 d-flex justify-content-between">
                <button data-toggle="tooltip" data-placement="bottom" title="Like" class="rounded-circle px-1 d-flex justify-content-center align-items-center like" id="like_1">
                  <i class="far fa-heart"></i>
                </button>
              </span>
              <a href="#">
                <img src="<%= product.productImage%>" class="card-img-top" alt="...">
              </a>
              <div class="card-body">
                <h5 class="card-title m-0"><%=product.productCategory %></h5>
                <a href="#" class="product-link">
                  <p class="card-text"><%= product.productName%></p>
                </a>
                <div class="price-rating d-flex justify-content-between">
                  <p class="dollar">$100.<span class="cent">00</span></p>
                  <div class="rating_1" >
                    <span class="star" id="1"><i class="fas fa-star" ></i></span>
                    <span class="star" id="2"><i class="fas fa-star" ></i></span>
                    <span class="star" id="3"><i class="fas fa-star" ></i></span> 
                    <span class="star" id="4"><i class="fas fa-star" ></i></span>
                    <span class="star" id="5"><i class="fas fa-star" ></i></span>
                  </div>
                 
                 
                </div>
              </div>
              <div class="hidden-tab d-none d-lg-block pb-2 container-fluid col-12 d-flex flex-column align-items-center">
                <div class="hidden-content d-flex justify-content-center">
                  <a  data-toggle="tooltip" data-placement="bottom" title="Add to Cart" class="btn btn_1 btn-primary_1  hidden-button p-1 d-flex justify-content-center align-items-center rounded-circle mx-3 cart "><i
                      class="fas fa-shopping-cart "></i></a>
                      <a href="<%= product.productImage%>" data-toggle="tooltip" data-placement="bottom" title="View Product" class="btn btn_2 btn-primary  hidden-button p-1 d-flex justify-content-center align-items-center rounded-circle mx-3 eye pop-up"><i class="fas fa-eye "></i></a>

                  <!-- <a href="#" data-toggle="tooltip" data-placement="bottom" title="View Product" class="btn btn_2 btn-primary_1 hidden-button p-1 d-flex justify-content-center align-items-center rounded-circle mx-3 eye"><i class="fas fa-eye "></i></a> -->
                </div>
              </div>
            </div>
  
          </div>
        </div>

       <% }) %>
      

      </div>
    </div>


    <br>
    <br>
    
    <%- include("./partials/pageFooter") %>

    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>

    <script type="text/javascript" src="js/product.js"></script>
    
<%- include("./partials/footer")%>
